<div class="row">
  <div class="col-6">Users</div>
  <div class="col-6 d-flex justify-content-end">
    <a
      href="/adduser"
      type="button"
      class="btn btn-primary align-self-center"
    >add user</a>
  </div>
</div>

<table class="table table-bordered">
  <thead calss="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col" class="text-end">Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.first_name}}</td>
        <td>{{this.last_name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.phone}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-eye"
            ></i></a>
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-pencil"
            ></i></a>
          <a href="#" type="button" class="btn btn-light btn-small"><i
              class="bi bi-person-x"
            ></i></a>
        </td>

      </tr>
    {{/each}}
  </tbody>
</table>