<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="first name"
      name="first_name"
      value="{{this.first_name}}"
    />
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="last name"
      name="last_name"
      value="{{this.last_name}}"
    />
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="example@email.com"
      name="email"
      value="{{this.email}}"
    />
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="phone number"
      name="phone"
      value="{{this.phone}}"
    />
    <label for="floatingInput">Phone number</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="comments"
      name="comments"
      value="{{this.comments}}"
      style="height: 200px"
    />
    <label for="floatingInput">Comments</label>
  </div>
</div>
<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>